<footer class="px-4 sm:px-6 lg:px-14 pt-8 body-font">
  <div class="border-b border-gray-200"></div>

  <div class="py-8"></div>

  <div class="container px-4 sm:px-6 lg:px-20 py-8 mx-auto flex flex-col lg:flex-row items-center">
    <div class="flex flex-col lg:flex-row lg:w-2/3 items-center justify-center lg:justify-start">
      <a href="#" class="flex title-font font-medium items-center text-gray-900">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round"
          stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full"
          viewBox="0 0 24 24">
          <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
        </svg>
        <span class="ml-3 text-xl">Tailblocks</span>
      </a>
      <p class="text-sm text-gray-500 mt-4 lg:mt-0 lg:ml-4 lg:pl-4 lg:border-l-2 lg:border-gray-200 lg:py-2">© 2020
        Tailblocks —
        <a href="https://twitter.com/knyttneve" class="text-gray-600 ml-1" rel="noopener noreferrer"
          target="_blank">@knyttneve</a>
      </p>
    </div>

    <!-- form  -->
    <form class="flex flex-col lg:flex-row lg:ml-auto lg:mt-0 mt-4">
      <div class="flex flex-col lg:flex-row lg:mr-2 mb-4 lg:mb-0">
        <input name="email_address" type="email" required="" autocomplete="email" aria-label="Email address"
          class="appearance-none shadow rounded-md ring-1 ring-slate-900/5 leading-5 sm:text-sm border border-transparent py-2 placeholder:text-slate-400 pl-4 pr-3 block w-full text-slate-900 focus:outline-none focus:ring-2 focus:ring-sky-500 bg-white dark:bg-slate-700/20 dark:ring-slate-200/20 dark:focus:ring-sky-500 dark:text-white"
          placeholder="Subscribe via email">
      </div>
      <button type="submit"
        class="bg-sky-500 shadow text-white rounded-md text-sm border-y border-transparent py-2 font-semibold px-3 hover:bg-sky-600 dark:hover:bg-sky-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-300 dark:focus:ring-offset-slate-900 dark:focus:ring-sky-700">Subscribe</button>
    </form>
    <!-- form end -->

    <div class="flex lg:ml-4 mt-4 lg:mt-0">
      <a href="#" class="ml-3 text-gray-500">
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5"
          viewBox="0 0 24 24">
          <path
            d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z">
          </path>
        </svg>
      </a>
      <a href="https://www.linkedin.com/in/sayed-hanan/" target="_blank" rel="noopener noreferrer" class="ml-3 text-gray-500">
        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0"
          class="w-5 h-5" viewBox="0 0 24 24">
          <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
          <circle cx="4" cy="4" r="2" stroke="none"></circle>
        </svg>
    </a>
    
    </div>
  </div>
</footer>
