<section class="hero text-black flex flex-col md:flex-row items-center" style="height: 70vh;">
  <div class="container mx-auto flex flex-col md:flex-row">
    <!-- Left Side with Text -->
    <div class="w-full md:w-1/2 px-8 mb-8 md:mb-0">
      <h1 class="text-3xl font-bold mb-4">Hi, I am Hanan</h1>
      <p class="text-lg mb-8">
        Documenting my learning journey in AI. Join me as I explore, discover, and share insights and experiences from
        the world of artificial intelligence.
      </p>
      <div class="flex space-x-4">
        {{- partial "input-email.html" . -}}
      </div>
    </div>
    <!-- Right Side (Empty) -->
    <div class="w-full md:w-1/2"></div>
  </div>
</section>
